{% extends 'base.html' %}

{% block meta %}
    <style>
        input {
            width: 100%;
            padding: 6px 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        .container {
            text-align: left;
            font-size: 18px;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="container">
        <h4 class="card-title mb-5 text-center">Login</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-outline-primary w-100 mt-5 btn-lg" value="Login">
        </form>
    </div>

{% endblock %}
