{% extends 'base.html' %}

{% block meta %}
    <style>
        .body {
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            margin-top: 100px;
        }

        .upload-form {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            text-align: center;
        }

        #progressBar {
            width: 100%;
            display: none;
            background-color: #f3f3f3;
        }

        #progressBarFill {
            width: 0%;
            min-width: 30px;
            height: 20px;
            background-color: #4caf50;
            text-align: center;
            color: white;
        }

        h2 {
            margin-bottom: 20px;
            color: #333;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            color: #555;
        }

        input[type="file"] {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            width: 100%;
            padding: 10px 0;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #218838;
        }

        .form-error {
            padding: 10px;
            margin-bottom: 20px;
            background-color: #f16e6e;
            border: 1px solid #430000;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="body">
        <form class="upload-form" method="post" enctype="multipart/form-data" id="form">
            <h2>Upload Your File</h2>

            {% if form.errors %}
                <div class="error">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <label for="file">Choose a file to upload</label>
            {% csrf_token %}
            {{ form.file }}
            <button type="submit" id="submitButton">Upload</button>

            <div id="progressBar" style="margin-top: 20px;">
                <div id="progressBarFill">0%</div>
            </div>
            <p id="status"></p>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
      const form = document.getElementById('form');
      const submitButton = document.getElementById('submitButton');
      const progressBar = document.getElementById('progressBar');
      const progressBarFill = document.getElementById('progressBarFill');
      const status = document.getElementById('status');

      form.addEventListener('submit', function (event) {
        event.preventDefault();

        const fileInput = document.getElementById('id_file');
        const csrf = document.getElementsByName('csrfmiddlewaretoken')[0];
        const file = fileInput.files[0];
        if (!file) return;

        const xhr = new XMLHttpRequest();
        const formData = new FormData();
        formData.append('csrfmiddlewaretoken', csrf.value);
        formData.append('file', file);

        xhr.open('POST', '', true);  // '' assumes same endpoint
        submitButton.style.display = 'none';
        progressBar.style.display = "block";

        xhr.upload.addEventListener('progress', function (e) {
          if (e.lengthComputable) {
            const percent = Math.round((e.loaded / e.total) * 100);
            progressBarFill.style.width = percent + '%';
            progressBarFill.textContent = percent + '%';
          }
        });

        xhr.onload = function () {
          if (xhr.status === 200) {
            status.textContent = 'Upload successful!';
            const data = JSON.parse(xhr.responseText)
            window.location.href = `/mfi/${data.uuid}/`;
          } else {
            status.textContent = 'Upload failed.';
          }
        };

        xhr.onerror = function () {
          status.textContent = 'Error during upload.';
        };

        xhr.send(formData);
      });
    </script>
{% endblock %}
