{% extends 'base.html' %}

{% block meta %}
    {% if mfi.status == 'started' %}
        <meta http-equiv="refresh" content="1">
    {% endif %}
    <style>
        .page-body {
            width: 90%;
            max-width: 1000px;
            padding: 25px;
            border-radius: 10px;
            background-color: #fff;
            color: black;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-body">
        <h4>Status: {{ mfi.status }}</h4>

        {% if mfi.status == 'finished' %}
            <a href="{% url 'mfi-download' mfi.uuid %}">Download Excel Sheet</a>
        {% endif %}


        <h4 style="margin-bottom: 5px">Logs</h4>
        <textarea style="width: 100%; white-space: pre-wrap" rows="50" cols="50">{{ mfi.log }}</textarea>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
