{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container text-center">
        <section id="disclaimer">
            <h2>This website is currently under development and will be available shortly.</h2>
            <p></p>
        </section>
        <section id="IBK">
            <h2>Sigi</h2>
            <p></p>
        </section>
    </div>
    <div class="button-container">
        <button class="image-button" id="button1">
            <img src="{% static 'button1.png' %}" alt="Button Image 1">
        </button>
        <button class="image-button" id="button2">
            <img src="{% static 'button2.png' %}" alt="Button Image 2">
        </button>
    </div>

{% endblock %}
