{% extends "base.html" %}
{% load static %}

{% block header %}<p>Information Mammakarzinom</p>{% endblock %}

{% block meta %}
    <style>
        .button-container button {
            background-color: #007bff; /* Blue */
            color: white;
            border: none;
            padding: 10px 10px;
            margin: 0 5px; /* Adjust space between buttons */
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: left;
            font-size: large;
        }

        .button-container button:hover {
            background-color: #0056b3; /* Darker blue */
        }

        .video-and-button-container {
            display: flex;
            flex-direction: row; /* Aligns children (button-container and video-container) in a row */
            align-items: start; /* Aligns items at the start of the container */
            gap: 10px; /* Adjust the space between the button-container and the video-container */
        }

        .button-container {
            display: flex;
            flex-direction: column; /* Aligns buttons vertically */
            gap: 40px; /* Adjust the space between buttons */
        }
        
        .button-container {
            display: flex;
            justify-content: inherit;
            align-items: initial;
            gap: 20px; /* Adjust the space between buttons */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- New flex container for video and buttons -->
        <div class="video-and-button-container">
            <div class="button-container">
                <button onclick="setVideoTime(109)">1: Warum empfehlen wir eine Bestrahlung (01:49)</button>
                <button onclick="setVideoTime(154)">2: Vorbereitungen für die Bestrahlung (02:34)</button>
                <button onclick="setVideoTime(237)">3: Allgemeiner Ablauf (03:57)</button>
                <button onclick="setVideoTime(332)">4: Nebenwirkungen (05:32)</button>
                <button onclick="setVideoTime(599)">5: Nachsorge / wie es weitergeht (09:59)</button>
            </div>

            <div class="video-container">
                <video id="video" controls>
                    <source src="/static/resized_video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
      function setVideoTime(seconds) {
        var video = document.getElementById('video');
        video.currentTime = seconds;
        video.play();
      }
    </script>
{% endblock %}
